@import url("https://fonts.googleapis.com/css?family=Inter:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-inter: "Inter", "Inter_600SemiBold";
  --font-raleway: "Raleway", sans-serif;
 
 
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 
.outerView{
  background-color: #E9EFF2;
  padding:3rem;
  margin-top: 2rem;
  border-radius: 1rem;
  width: 60%;
}
/* Welcome page */
.outerHome{
  background-color: #E9EFF2;
  padding:3rem;
  margin-top: 2rem;
  align-self: center;
  width: 60%;
  border-radius: 1rem;
}


.cardOuter{
  background-color: #f1f1f1;
  padding: 2rem; 
}

.separator{
  width: 0.3rem;
}




.cardPin{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.pinHeader{
  font-size: 32px;
  font-family: var(--font-inter);
}

.headerWelcome{
  font-size: 32px;
  text-align: left;
  color: #143D73;
  font-weight: bolder;
  font-family: var(--font-inter);
}

.headerName{
  font-size: 32px;
  text-align: left;
  color: #F0182D;
  font-family: var(--font-inter);
  
}

.spanTo{
  font-size: 32px;
  text-align: left;
  color: #F0182D;
  font-family: var(--font-inter);
  font-weight: normal;
}


.buttons{
  display: flex;
  margin-top: 1rem;
}

.cardHome{
  display: flex;
  margin-top: 10%;
}

.imageRight{
  width: 80%;
  height: 100%;
}

.imageRightDiv{
  width: 50%;
}

.cardLogo{
  width: 50%;
  align-items: center;
  display: flex;
}

.getstarted{
  padding-right:3rem;
  padding-left: 3rem;
  font-size: 18px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: var(--font-inter);
}

.logo{
  height: 4%;
  width: 30%;
}


/*Login page */
.cardInnerLogin{
  display: flex;
  margin-top: 2%;
}


.imageRightLogin{
  width: 100%;
  height: 100%;
}

.imageRightDivLogin{
  width: 50%;
}

.clear{
  padding:2rem;
  padding-left: 2rem;
  font-size: 18px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--font-inter);
}

.enter{
  padding:2rem;
  padding-left: 2rem;
  font-size: 18px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--font-inter);
}


.email{
  margin-top: 1rem;
  width: 20rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #4865b8;
  font-family: var(--font-inter);
}

.error{
  color: #F0182D;
  margin-top: 1rem;
}

/*Home page */
.cardInnerHome{
  display: flex;
  margin-top: 2%;
 height: 50%;
}

.imageRightHome{
  width: 100%;
  height: 100%;
}

.imageRightDivHome{
  width: 50%;
 
}

.cardHomeButtons{
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 48%;
  padding-right: 2%;
  
 
  
  
}

.outerViewHome{
  background-color: #E9EFF2;
  padding:3rem;
  margin-top: 0.4rem;
  border-radius: 1rem;
  width: 60%;
}

.action{
  
  font-family: var(--font-inter);
  font-size: 18px;
  cursor: pointer;
text-align: center;
  

}

.action:hover{
  background: #143D73 !important;
  color: white !important;
}


/*Smaller resolution */
@media screen and (max-width: 400px) {
 
  .outerHome{
    background-color: #E9EFF2;
    padding:3rem;
    margin-top: 2rem;
    align-self: center;
    width: 80%;
    
    border-radius: 1rem;
  }

  .imageRightDiv{
   display: none;
  }

  .cardLogo{
    width: 100%;
    align-items: center;
    display: flex;
    margin-top: 20%;
  }
  
  .getstarted{
  
    font-size: 11px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--font-inter);
  }
  
  .logo{
    height: 5%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
   
  }

  .headerWelcome{
    font-size: 18px;
    text-align: left;
    color: #143D73;
    font-weight: bolder;
    font-family: var(--font-inter);
  }
  
  .headerName{
    font-size: 18px;
    text-align: left;
    color: #F0182D;
    font-family: var(--font-inter);
    
  }
  
  .spanTo{
    font-size: 18px;
    text-align: left;
    color: #F0182D;
    font-family: var(--font-inter);
    font-weight: normal;
  }

  
}









